@model Pharmacy_Project.Models.Outgoing

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Расход</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Дата реализации
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImplementationDate)
        </dd>
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            Цена продажи
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            Название лекарства
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад на страницу</a>
    </form>
</div>
