@{
    ViewData["Title"] = "Болезни";
    @model List<Disease>;
}

<div class="text-center">
     <table class="table">
        <tr>
            <th>Международный код</th>
            <th>Название</th>
        </tr>
        @foreach(var disease in Model) {
            <tr>
                <td>
                    @disease.InternationalCode
                </td>
                <td>
                    @disease.Name
                </td>
            </tr>
        }
    </table>
</div>
